<div class="carousel-custome">

    <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
        [showNavigationArrows]="true" [showNavigationIndicators]="false" (slide)="onSlide($event)"
        style="height: 100%;">
        <ng-template ngbSlide *ngFor="let eachData of carouselData; index as i">
            <div class="carousel-caption border-bottom-radius-10">
                <h3 class="ellipsis-text">{{eachData['title']}}</h3>
            </div>
            <a href="javascript:void(0)" rel="nofollow noopener noreferrer">
                <div class="picsum-img-wrapper">
                    <img [src]="eachData?.['images']?.[0]?.['tempURL']" alt="My image {{i + 1}} description"
                        class="border-radiuse-10" />
                </div>
            </a>
        </ng-template>
    </ngb-carousel>
</div>