.visually-hidden {
    display: none;
}

.carousel {
    overflow: hidden;
}

.custome-carousel{
    height: 100%;
}

.carousel-text-caption-container{
    position: absolute;
    bottom: 0;
   
}
.carousel-text-caption{
    text-align: center;
    background-color: #00000061;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 10px;
    padding-bottom: 20px;
    color: #fff;
}
.carousel-text-date{
    text-align: right !important;
    // background-color: #00000061;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 2px 12px;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}
// .carousel .carousel-inner {
//     transition: transform 0.5s ease-in-out;
// }

// .carousel-item {
//     transition: transform 0.5s ease-in-out;
// }

// .carousel-custome {
//     // height: 23rem !important;
//     height: 100% !important;
// }

// .ellipsis-text {
//     display: -webkit-box;
//     -webkit-box-orient: vertical;
//     -webkit-line-clamp: 2;
//     /* Number of lines to show */
//     overflow: hidden;
//     text-overflow: ellipsis;
//     /* Optional: Adjust other styles like font-size, line-height, etc. */
// }

// .border-radiuse-10 {
//     border-radius: 5px !important;
// }

// .border-bottom-radius-10 {
//     border-bottom-left-radius: 5px !important;
//     border-bottom-right-radius: 5px !important;
// }

// .border-top-radius-10 {
//     border-top-left-radius: 5px !important;
//     border-top-right-radius: 5px !important;
// }