<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <simple-table *ngIf="employeeTables?.activeEmployees?.tableData?.headerContent?.length>0"
                    [tableData]="employeeTables.activeEmployees.tableData"
                    [tableMetaData]="employeeTables.activeEmployees.metaData"
                    (actionEmitter)="actionEmitter($event)"></simple-table>

            </div>
            <div class="col-md-12">
                <simple-table *ngIf="employeeTables?.inActiveEmployees?.tableData?.headerContent?.length>0"
                    [tableData]="employeeTables.inActiveEmployees.tableData"
                    [tableMetaData]="employeeTables.inActiveEmployees.metaData"
                    (actionEmitter)="actionEmitter($event)"></simple-table>

            </div>
            <div class="col-md-12">
                <simple-table *ngIf="employeeTables?.disabledEmployees?.tableData?.headerContent?.length>0"
                    [tableData]="employeeTables.disabledEmployees.tableData"
                    [tableMetaData]="employeeTables.disabledEmployees.metaData"
                    (actionEmitter)="actionEmitter($event)"></simple-table>

            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" id="addEmployeeBtn" class="btn btn-primary d-none" data-toggle="modal" data-target="#addEmployee">
    Add Employee
</button>

<!-- Modal -->
<div class="modal fade" id="addEmployee" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{actionType === 'create' ? 'Create ' : actionType ===
                    'edit' ? 'Edit':''}} Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form (ngSubmit)="disableFields ? signUpCreds() : signUpForm.form.valid && signUpCreds()" #signUpForm="ngForm" novalidate
                class="col-12 row m-0 p-0">
                <div class="modal-body col-12 row custom-form-body">

                    <div class="col-12 mb-4">
                        <label class="form-label" for="loginName">Name</label>
                        <input type="text" id="loginName" class="form-control form-control-lg"
                            placeholder="Enter a valid name" name="name" [(ngModel)]="signUpFormValues['name']"
                            #name="ngModel" required [disabled]="disableFields"
                            [ngClass]="{ 'is-invalid': signUpForm.submitted && name.invalid }" />
                        <div *ngIf="signUpForm.submitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="name.errors.required">This field is required</div>
                        </div>
                    </div>

                    <div class="col-12 mb-4">
                        <label class="form-label" for="loginEmail">Email address</label>
                        <input type="email" id="loginEmail" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" name="mail" [(ngModel)]="signUpFormValues['mail']"
                            #mail="ngModel" [disabled]="disableFields" required
                            [ngClass]="{ 'is-invalid': signUpForm.submitted && mail.invalid }"
                            pattern="^(?=.{1,254}$)(?=.{1,64}@)[-!#$%&'*+/0-9=?A-Z^_`a-z{|}~]+(\.[-!#$%&'*+/0-9=?A-Z^_`a-z{|}~]+)*@[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?(\.[A-Za-z0-9]([A-Za-z0-9-]{0,61}[A-Za-z0-9])?)*$" />
                        <div *ngIf="signUpForm.submitted && mail.invalid" class="invalid-feedback">
                            <div *ngIf="mail.errors.required">This field is required</div>
                            <div *ngIf="mail.errors.pattern">Invalid email format</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3" *ngIf="actionType === 'create'">
                        <label class="form-label" for="loginPassword">Password</label>
                        <input type="password" id="loginPassword" class="form-control form-control-lg" required  [disabled]="disableFields"
                            placeholder="Enter password" [(ngModel)]="signUpFormValues['password']" name="password" #password="ngModel"
                            [ngClass]="{ 'is-invalid': signUpForm.submitted && password.invalid }" />
                        <div *ngIf="signUpForm.submitted && password.invalid" class="invalid-feedback">
                            <div *ngIf="password.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="loginState">State</label>
                        <ng-select [items]="metaData['STATES']" bindLabel="label" bindValue="value" name="state"
                            [disabled]="disableFields" class="form-control form-control-lg" required
                            placeholder="Enter state" [(ngModel)]="signUpFormValues['state']" #state="ngModel"
                            [clearable]="false" [ngClass]="{ 'is-invalid': signUpForm.submitted && state.invalid }"
                            (ngModelChange)="changeOfState();signUpFormValues['district']=null;signUpFormValues['mandal']=null; ">
                        </ng-select>

                        <div *ngIf="signUpForm.submitted && state.invalid" class="invalid-feedback">
                            <div *ngIf="state.errors.required">This field is required</div>
                        </div>
                    </div>
                    <ng-container *ngIf="signUpFormValues['state']">

                        <div class="col-12 mb-3">
                            <label class="form-label" for="loginDistrict">District</label>
                            <ng-select [items]="metaData[signUpFormValues['state']+'_DISTRICTS']" bindLabel="label"
                                bindValue="value" [disabled]="disableFields" name="district"
                                class="form-control form-control-lg" required placeholder="Select District"
                                [(ngModel)]="signUpFormValues['district']" #district="ngModel" [clearable]="false"
                                [ngClass]="{ 'is-invalid': signUpForm.submitted && district.invalid }"
                                (ngModelChange)="signUpFormValues['mandal']=null; ">
                            </ng-select>
                            <div *ngIf="signUpForm.submitted && district.invalid" class="invalid-feedback">
                                <div *ngIf="district.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="col-12 mb-3" *ngIf="metaData && signUpFormValues['district'] && metaData[signUpFormValues['state']+'_DISTRICT_MANDALS'] ">
                            <label class="form-label" for="loginMandal">Mandal</label>
                            <ng-select
                                [items]="metaData[signUpFormValues['state']+'_DISTRICT_MANDALS'][signUpFormValues['district']]"
                                [disabled]="disableFields" name="mandal" class="form-control form-control-lg" required
                                placeholder="Select mandal" [(ngModel)]="signUpFormValues['mandal']" #mandal="ngModel"
                                [clearable]="false"
                                [ngClass]="{ 'is-invalid': signUpForm.submitted && mandal.invalid }">
                            </ng-select>

                            <div *ngIf="signUpForm.submitted && mandal.invalid" class="invalid-feedback">
                                <div *ngIf="mandal.errors.required">This field is required</div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="col-12 mb-4">
                        <label class="form-label" for="loginMobile">Mobile</label>
                        <input type="number" id="loginMobile" class="form-control form-control-lg"
                            placeholder="Enter a valid Mobile number" name="mobile"
                            [(ngModel)]="signUpFormValues['mobile']" [disabled]="disableFields" #mobile="ngModel"
                            required [ngClass]="{ 'is-invalid': signUpForm.submitted && mobile.invalid }" />
                        <div *ngIf="signUpForm.submitted && mobile.invalid" class="invalid-feedback">
                            <div *ngIf="mobile.errors.required">This field is required</div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label class="form-label" for="loginRole">Role</label>
                        <ng-select [items]="metaData['ROLE']" name="role" class="form-control form-control-lg" required
                            [disabled]="disableFields" placeholder="Select role" [(ngModel)]="signUpFormValues['role']"
                            #role="ngModel" [clearable]="false"
                            [ngClass]="{ 'is-invalid': signUpForm.submitted && role.invalid }">
                        </ng-select>

                        <div *ngIf="signUpForm.submitted && role.invalid" class="invalid-feedback">
                            <div *ngIf="role.errors.required">This field is required</div>
                        </div>
                    </div>
                    <!-- <div class="col-12 text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    </div> -->
                </div>
                <div class="modal-footer col-12 row">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                    <button type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">

                        {{
                        actionType === 'create' ? 'Create ': actionType === 'active' ? 'Activate':actionType ===
                        'inactive' ? 'Deactivate':actionType === 'disable' ? 'Disable':actionType === 'enable' ?
                        'Enable':actionType === 'edit' ? 'Update':''
                        }}

                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" id="identityVerifactionBtn" class="btn btn-primary d-none" data-toggle="modal"
    data-target="#identityVerifaction">
    Add Employee
</button>

<!-- Modal -->
<div class="modal fade" id="identityVerifaction" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Verify Identity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="col-12 row m-0 p-0">
                <div class="col-md-6">Profile Picture</div>
                <div class="col-md-6">Identity Proof</div>
                <div class="col-md-3">
                    <img class="img image-border"
                        [src]="'https://drive.google.com/uc?export=view&id='+signUpFormValues.profilePicture"
                        style="height: 200px;" />

                </div>
                <div class="col-md-9">
                    <img class="img w-100 image-border"
                        [src]="'https://drive.google.com/uc?export=view&id='+signUpFormValues.identityProof" />

                </div>
            </div>
            <div class="col-12 row m-0 p-0">
                <button class="btn btn-success mx-2 pull-right" (click)="updateVerification('approved')">Approve</button>
                <button class="btn btn-danger mx-2 pull-right" (click)="identityVerificationRejectionReason = 'Invalid Documents'">Reject</button>
            </div>
            <div class="col-12 d-flex" *ngIf="identityVerificationRejectionReason">
                <label for="">Reason for Rejection</label>
                <input type="text" [(ngModel)]="identityVerificationRejectionReason" class="form-control" placeholder="Invalid Documents" />
                <button class="btn btn-primary btn-sm" [ngClass]="!identityVerificationRejectionReason ? 'cursor-not-allowed':''" [disabled]="!identityVerificationRejectionReason" (click)="updateVerification('rejected')">Submit</button>
            </div>
        </div>
    </div>
</div>