.custom-form-body{
    max-height: 70vh !important;
    overflow-y: auto;
}
.image-border{
    padding: 1%;
    border: 1px solid #ccc;
}
.custom-form-body {
    max-height: 70vh !important;
    overflow-y: auto;
}

.custom_upload_image {
    height: 100px !important;
}

.image_holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}