/* You can add global styles to this file, and also import other style files */



.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    min-height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.83rem;
    font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #363642;
    // background-color: #fff;
    background-clip: padding-box;
    // border: 1px solid #c6c9d5;
    // border-radius: .25rem;
    box-shadow: none !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    // border: none;
    border: 1px solid white;
    border-bottom: 1px solid #8d8d8d;
    border-radius: 0px;
    background-color: #ffffff;
}

@media screen and (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #363642;
    background-color: #fff;
    border-color: #2865dc;
    outline: 2px solid #0f62fe;
    outline-offset: -2px;
    box-shadow: none !important;
}

.form-control.ng-select-opened {
    .ng-select-container {
        color: #363642;
        background-color: #fff;
        border-color: #2865dc;
        outline: 2px solid #0f62fe;
        outline-offset: -2px;
        box-shadow: none !important;
    }
}

.form-control::-webkit-input-placeholder {
    color: #888c9b;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #888c9b;
    opacity: 1
}

.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: #888c9b;
    opacity: 1
}

.form-control::placeholder {
    color: #888c9b;
    opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f6f7f9;
    opacity: 1;
    cursor: no-drop;
}

select.form-control:focus::-ms-value {
    color: #363642;
    background-color: #fff
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}

.col-form-label {
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.col-form-label-lg {
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
    font-size: 1.25rem;
    line-height: 1.5
}

.col-form-label-sm {
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
    font-size: .875rem;
    line-height: 1.5
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #363642;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0
}

.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
    padding-right: 0;
    padding-left: 0
}

.form-control-sm {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.form-control-lg {
    height: calc(2.875rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}

select.form-control[multiple],
select.form-control[size],
textarea.form-control {
    height: auto
}


.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: #00a28a;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    background-size: 1.125rem 1.125rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2300A28A' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: #00a28a;
    box-shadow: none !important;
}

.form-control.is-valid~.valid-feedback,
.form-control.is-valid~.valid-tooltip,
.was-validated .form-control:valid~.valid-feedback,
.was-validated .form-control:valid~.valid-tooltip {
    display: block
}

.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
    padding-right: 2.25rem;
    background-position: top 0.5625rem right 0.5625rem
}

.custom-select.is-valid~.valid-feedback,
.custom-select.is-valid~.valid-tooltip,
.form-control-file.is-valid~.valid-feedback,
.form-control-file.is-valid~.valid-tooltip,
.was-validated .custom-select:valid~.valid-feedback,
.was-validated .custom-select:valid~.valid-tooltip,
.was-validated .form-control-file:valid~.valid-feedback,
.was-validated .form-control-file:valid~.valid-tooltip {
    display: block
}

.form-check-input.is-valid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
    color: #00a28a
}

.form-check-input.is-valid~.valid-feedback,
.form-check-input.is-valid~.valid-tooltip,
.was-validated .form-check-input:valid~.valid-feedback,
.was-validated .form-check-input:valid~.valid-tooltip {
    display: block
}



.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #b76ba3;
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    background-size: 1.125rem 1.125rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23B76BA3' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E")
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: #b76ba3;
    box-shadow: none !important;
}

.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip,
.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip {
    display: block
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
    padding-right: 2.25rem;
    background-position: top 0.5625rem right 0.5625rem
}

.custom-select.is-invalid~.invalid-feedback,
.custom-select.is-invalid~.invalid-tooltip,
.form-control-file.is-invalid~.invalid-feedback,
.form-control-file.is-invalid~.invalid-tooltip,
.was-validated .custom-select:invalid~.invalid-feedback,
.was-validated .custom-select:invalid~.invalid-tooltip,
.was-validated .form-control-file:invalid~.invalid-feedback,
.was-validated .form-control-file:invalid~.invalid-tooltip {
    display: block
}

.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
    color: #b76ba3
}

.form-check-input.is-invalid~.invalid-feedback,
.form-check-input.is-invalid~.invalid-tooltip,
.was-validated .form-check-input:invalid~.invalid-feedback,
.was-validated .form-check-input:invalid~.invalid-tooltip {
    display: block
}

.form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center
}

.form-inline .form-check {
    width: 100%
}

@media (min-width:576px) {
    .form-inline label {
        -ms-flex-align: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .form-inline .form-group,
    .form-inline label {
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        margin-bottom: 0
    }

    .form-inline .form-group {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .form-inline .form-control-plaintext {
        display: inline-block
    }

    .form-inline .custom-select,
    .form-inline .input-group {
        width: auto
    }

    .form-inline .form-check {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: auto;
        padding-left: 0
    }

    .form-inline .form-check-input {
        position: relative;
        margin-top: 0;
        margin-right: .25rem;
        margin-left: 0
    }

    .form-inline .custom-control {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .form-inline .custom-control-label {
        margin-bottom: 0
    }
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.text-ellipsis{
        overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
}
.cursor-pointer{
    cursor: pointer !important;
}
.label{
    font-size: 0.9rem !important;
    color: #272727 !important;
    font-weight: bold !important;
}