.flex-properties {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.left-section,
.right-section {
    width: 100%;
    h2 {
            font-size: 1.75rem;
            font-weight: bold;
            margin: 0;
        }
    
        .fa-align-justify {
            margin-right: 0.5rem;
        }
}

.mn-list {
    position: relative;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.mn-list .mn-img {
    position: relative;
    width: 100px;
    margin-right: 15px;
    float: left;
    overflow: hidden;
}

.mn-list .mn-img img {
    width: 100%;
}

.mn-list .mn-content {
    position: relative;
    float: left;
    width: calc(100% - 115px);
    padding: 0;
}

.mn-list .mn-content a.mn-title {
    display: block;
    width: 100%;
    color: #353535;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 5px;
}

.mn-list .mn-content a.mn-title:hover {
    color: #E47A2E;
}

.mn-list .mn-content a.mn-date {
    display: block;
    width: 100%;
    margin-bottom: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    letter-spacing: 1px;
}

.mn-list .mn-content a.mn-date i {
    margin-right: 5px;
}

.mn-list .mn-content a.mn-date:hover {
    text-decoration: underline;
}


// .category {
//     position: relative;
// }

.category .fa-ul {
    margin-left: 23px;
}

.category .fa-ul li {
    margin-bottom: 10px;
}

.category .fa-ul li i {
    color: #353535;
}

.category .fa-ul li a {
    color: #353535;
}

.category .fa-ul li a:hover {
    color: #E47A2E;
}

.news-title {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0;
    line-height: initial;
}
.news-sub-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
    line-height: initial;
}
@media (min-width:30em) {
    // FOR TAB MODE


    .flex-properties {
        flex-direction: row !important;
    }
  .image img {
    //   width: 100% !important;
    //   height: -webkit-fill-available;
  }
    // .left-section {
    //     width: 80%;
    //     height: 100%;
    // }

    // .right-section {
    //     height: 100%;
    //     overflow-y: auto;
    //     width: 20%;
    // }

    // .body-container-section {
    //     height: calc(100vh - 10rem);
    // }
}

@media (min-width: 50em) {

    // FOR LAPTOP MODE

    .flex-properties {
        flex-direction: row !important;
    }

    .left-section {
        width: 80%;
        // height: 100%;
        // overflow-y: auto;
    }

    .right-section {
        // overflow-y: auto;
        // height: 100%;
        width: 20%;
    }
    
    .body-container-section {
        height: calc(100vh - 10rem);
        overflow-y: auto;
    }

    .width-75{
        width: 75% !important;
    }
    .width-25{
        width: 25% !important;
    }

    .image-container{
        max-height: calc(100vh - 20rem);
    }
        .image img {
            // width: 100% !important;
            // height: -webkit-fill-available;
        }
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image {
    height: 100%;
    // width: calc(33.33% - 10px);
    /* Calculate width with 3 images and spacing */
    margin-bottom: 10px;
    /* Add margin for spacing */
    box-sizing: border-box;
}

.image img {
    // width: 100%;
    // height: -webkit-fill-available;
}
