.news-header-container{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.custome_header_image .image{
    height: 2.5rem;
}

.activeClass {

    border-bottom: 2px solid #B7191F !important;
    color: #B7191F !important;
    // padding-bottom: 0 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    // background-color: #4CAF50;
    background-color: unset !important;
    // color: white;
    // padding: 16px;
    // font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
// .dropdown:hover .dropdown-button {
//     background-color: #3e8e41;
// }
.languageCard:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.districtDiv {
    right: unset;
    left: 0;
    z-index: 99999;

    .title {
        font-weight: bold;
        color: #000;
    }
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #fff;
}

.v2NavBarLarge .nav-link,
.v2NavBarLarge .nav-link:focus,
.v2NavBarLarge .nav-link:hover,
.v2NavBarLarge .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #002328;
    font-weight: 600;
    font-family: "Inter", sans-serif !important;

}

.transform_custom_menu {
    .transform_custom_menu {
        color: #fff;
        ;
    }
}

.navbar-nav {
    height: 100% !important;
    background-color: #333333 !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(228, 122, 46, .2);
    border-bottom: 2px solid #E47A2E;
    transition: none;
}