<!-- <body> -->
<!-- Top Header Start -->
<div class="top-header">
    <div class="container-fluid custome-container-public-header">

        <!-- <div class="row justify-content-between align-items-center flex-direction-row"> -->
        <div class="row custome-header-section">

            <div class="col-12 d-flex justify-content-between align-items-center p-2">

                <div class=" custome_header_image ">

                    <img [src]="'/assets/img/ncmedia/logo_' + (translate?.currentLang || 'en') + '.png'" alt="Image 2"
                        class="image ml-md-0 ml-3 ">
                </div>
                <div class="helpDiv d-block d-sm-none mr-3 cursor-pointer" (click)="geToHelp()">
                    Help
                </div>
            </div>

            <div class=" col-12 d-flex mr-2 v2NavBarLarge align-items-center  justify-content-between ">
                <div class="d-flex justify-content-around w-100 " [ngClass]="{
                    'overflow-auto': commonFunctionality.isMobile(),
                    'custome-scroll-bar-header': commonFunctionality.isMobile()
                  }">


                    <a href="javascript:void(0)" class="nav-item nav-link"
                        [ngClass]="activeRoute === 'home' ? 'activeClass' : ''"
                        (click)="appService.navigateTo({type:'home'}); showMenu=false;">{{'publicHeader.home' |
                        translate}}</a>

                    <!-- <div class="col-md-6"> -->

                    <div class="dropdown  d-none d-md-block">
                        <a class="dropdown-button nav-item nav-link"> {{'publicHeader.districtNews' |
                            translate}}</a>
                        <div class="dropdown-content districtDiv">
                            <div class="d-flex w-100 border row m-0" *ngFor="let state of statesData">
                                <p class="title col-12 m-0 border-bottom py-2">
                                    {{state[selectedLanguage]}}</p>
                                <div class="row col-12">
                                    <a href="javascript:void(0)" class="col-3"
                                        (click)="onClickOfDistrict(state, district)"
                                        *ngFor="let district of state['DISTRICTS']">
                                        {{district[selectedLanguage]}}
                                    </a>
                                </div>
                            </div>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#staticBackdrop">Change
                                Language</a>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="nav-item nav-link cursor-pointer"
                        *ngFor="let category of categoires" [ngClass]="activeRoute === category ? 'activeClass' : ''"
                        (click)="onClickOfMore(category); showMenu=false;">{{category[selectedLanguage
                        === 'en'?'label':selectedLanguage]}}</a>
                </div>
                <div style="font-size: 1.5rem; border-left: 2px solid #ccc;" class="mx-2 px-2">


                    <div class="dropdown">
                        <button class="dropdown-button"> <i class="fa fa-cog" aria-hidden="true"></i> </button>
                        <div class="dropdown-content">
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#staticBackdrop">Change
                                Language</a>
                        </div>
                    </div>



                </div>

                <!-- <a href="javascript:void(0)" class="nav-item nav-link"
                    (click)="appService.navigateTo({type:'home'}); showMenu=false;">Contact US</a> -->
            </div>

        </div>
    </div>
</div>
<!-- Top Header End -->



<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Change Language</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <ng-container *ngFor="let lang of languageList; let index = index">
                            <div class="col-sm">
                                <div style="margin: 10px; padding: 10px; border-radius: 50px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; border: 1px solid #ccc; cursor: pointer;"
                                    (click)="onLanguageClick(lang)"
                                    [ngStyle]="{'background-color': selectedLanguage === lang?.code ? '#3AA2DB' : '#fff'}"
                                    class="languageCard">
                                    <div
                                        style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                                        <div [ngStyle]="{'background-color': selectedLanguage === lang?.code ? 'white' : '#3AA2DB'}"
                                            style="padding: 5px; border-radius: 50px; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;">
                                            <div [ngStyle]="{'color': selectedLanguage === lang?.code ? '#000' : '#fff'}"
                                                style="font-size: 20px;">
                                                {{ lang?.letter }}
                                            </div>
                                        </div>
                                        <div
                                            style="padding: 5px; display: flex; justify-content: center; align-items: center;">
                                            <div [ngStyle]="{'color': selectedLanguage === lang?.code ? '#fff' : '#000'}"
                                                style="font-size: 20px;">
                                                {{ lang?.nativeName }}
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-right: 10px;">
                                        <div [ngStyle]="{'border-color': selectedLanguage === lang?.code ? 'white' : 'black'}"
                                            style="width: 14px; height: 14px; border-radius: 50px; display: flex; justify-content: center; align-items: center; border-width: 1px; border-style: solid;">
                                            <div *ngIf="selectedLanguage === lang?.code"
                                                style="width: 8px; height: 8px; background-color: white; border-radius: 50%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Header Start -->
<div class="header d-block d-md-none">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="javascript:void(0)" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-target="#navbarCollapse" (click)="showMenu = !showMenu">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fa fa-bars" aria-hidden="true"></i>

            </button>

            <div class="navbar-collapse justify-content-between {{showMenu && isMobileMenu() ? 'transform_custom_menu d-block':''}}"
                id="navbarCollapse">
                <div class="navbar-nav m-auto">
                    <i class="fa fa-times mobileCloseIcon" aria-hidden="true"></i>

                    <a href="index.html" class="nav-item nav-link ">Home </a>
                    <a href="javascript:void(0)" class="nav-item nav-link" *ngFor="let category of categoires"
                        (click)="appService.navigateTo({type:'category', queryParams:{category : category}}); showMenu=false;">{{category}}</a>

                    <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Header End -->