.right-img {
    max-width: 100%;
    max-height: -webkit-fill-available;
}

/**********************************/
/********* Top Header CSS *********/
/**********************************/
.top-header {
    padding: 5px 0;
    background: #ffffff;
    // box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-header .logo {
    text-align: left;
    overflow: hidden;
}

.top-header .logo a img {
    max-width: 100%;
    max-height: 60px;
}

.top-header .search {
    width: 100%;
}

.top-header .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #353535;
}

.top-header .search input[type=text]:focus {
    border-color: #E47A2E;
}

.top-header .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right: 16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #353535;
}

.top-header .search button:hover {
    background: #E47A2E;
    color: #ffffff;
}

.top-header .social {
    position: relative;
    width: 100%;
    height: 40px;
    overflow: hidden;
    text-align: right;
}

.top-header .social a {
    display: inline-block;
    width: 40px;
    // height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid #353535;
}

.top-header .social a:hover {
    background: #E47A2E;
    border: 1px solid #E47A2E;
}

.top-header .social a i {
    color: #353535;
}

.top-header .social a:hover i {
    color: #ffffff;
}

@media (min-width: 768px) {
    .top-header {
        // max-height: 130px;
    }
}

@media (max-width: 767.98px) {

    .top-header .logo,
    .top-header .search,
    .top-header .social {
        text-align: center;
        margin-bottom: 15px;
    }

    .top-header .social {
        margin-bottom: 0;
    }

    .custome_header_image {
        // background-color: #000;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 0px 0px 0px;
    }

    .v2NavBarLarge .nav-link {
        width: max-content !important;
    }
}

.custome-scroll-bar-header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Internet Explorer, Edge and Firefox */
.custome-scroll-bar-header {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

/**********************************/
/********* Header Nav CSS *********/
/**********************************/
.header {
    position: relative;
    // box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.header.header-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header .navbar {
    height: 100%;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #fff;
}

.v2NavBarLarge .nav-link,
.v2NavBarLarge .nav-link:focus,
.v2NavBarLarge .nav-link:hover,
.v2NavBarLarge .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #002328;
    font-weight: 600;
    font-family: "Inter", sans-serif !important;

}

.transform_custom_menu {
    .transform_custom_menu {
        color: #fff;
        ;
    }
}

.navbar-nav {
    height: 100% !important;
    background-color: #333333 !important;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(228, 122, 46, .2);
    border-bottom: 2px solid #E47A2E;
    transition: none;
}

.header .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 768px) {

    // .header,
    .header .navbar {
        background: #353535 !important;
        border-radius: 2rem;
        margin-top: 0.3rem;
    }

    .header .navbar-brand {
        display: none;
    }

    .header a.nav-link {
        padding: 8px 15px;
        font-size: 15px;
        text-transform: uppercase;
    }
}

@media (max-width: 768px) {

    .header,
    .header .navbar {
        background: unset !important;
    }

    .navbar-brand {
        display: none !important;
    }

    .header {
        position: absolute !important;
    }

    .header a.nav-link {
        padding: 5px;
    }

    .header .dropdown-menu {
        box-shadow: none;
    }
}

.transform_custom_menu {
    transform: unset !important;
}

/* Common styles for all screen sizes */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.image {
    //  width: 30%;
    height: 50%;
    /* Adjust the width as needed */
    // margin-bottom: 10px;
}

/* Styles for screens larger than 768px (laptop and bigger screens) */
@media (min-width: 769px) {
    .image {
        //  width: 30%;
        height: 2rem;
        /* Adjust the width as needed */
    }

    .image:nth-child(1) {
        margin-left: 10px;
    }

    .image:nth-child(3) {
        margin-right: 10px;
    }
}

/* Styles for screens smaller than 768px (mobile and between laptop mode) */
@media (max-width: 768px) {
    .image {
        width: 48%;
        /* Adjust the width as needed */
    }

    /* Arrange IMAGE_1 and IMAGE_3 side by side in mobile mode */
    .image:nth-child(1),
    .image:nth-child(3) {
        width: 35%;
    }

    /* Force IMAGE_2 to the next line in mobile mode */
    .image:nth-child(2) {
        //  order: 2;
        display: none;
    }

    .top-header {
        padding: 0 !important;
    }

    .image-container {
        height: 90px !important;
    }

    .d-none-mobile {
        display: none !important;
    }

    .mobile-image-container {
        justify-content: center !important;
    }

    .image_bottom {
        width: 100% !important;
    }

    .image-container {
        justify-content: space-evenly;
    }
}

/* Styles for screens smaller than 768px (mobile and between laptop mode) */
//  @media (max-width: 768px) {
//  }


.mobile-image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px !important;
}

.navbar-toggler {
    background: #33333387;
    position: fixed;
    right: 10px;
    height: 50px;
    bottom: 10px;
    border-radius: 50%;
    width: 50px;
    z-index: 9999999;
}


.mobileCloseIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.activeClass {

    border-bottom: 2px solid #B7191F !important;
    color: #B7191F !important;
    // padding-bottom: 0 !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    // background-color: #4CAF50;
    background-color: unset !important;
    // color: white;
    // padding: 16px;
    // font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

// .dropdown:hover .dropdown-button {
//     background-color: #3e8e41;
// }
.languageCard:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.districtDiv {
    right: unset;
    left: 0;
    z-index: 99999;

    .title {
        font-weight: bold;
        color: #000;
    }
}

@media (min-width: 576px) {
    .districtDiv {
        min-width: 540px;
    }
}

@media (min-width: 768px) {
    .districtDiv {
        min-width: 720px;
    }
}

@media (min-width: 992px) {
    .districtDiv {
        min-width: 960px;
    }
}

@media (min-width: 1200px) {
    .districtDiv {
        min-width: 1000px;
    }
}