
<!-- <body> -->
<!-- Top Header Start -->
<div class="top-header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-9 col-md-8">
                <div class="logo">
                    <a href="javascript:void(0)" class="portalTile h2 text-danger">
                        <img src="/assets/img/ncmedia/fullLogo.png" alt="Logo">
                        NETI CHARITHRA
                    </a>
                </div>
            </div>
            <!-- <div class="col-lg-6 col-md-4">
                    <div class="search">
                        <input type="text" placeholder="Search">
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div> -->
            <div class="col-lg-3 col-md-4">

                <div class="social">
                    <img src="/assets/img/ncmedia/ncLogo.png" alt="Logo" class="right-img">
                    <a href="javascript:void(0)" class="p-1"><i class="fa fa-twitter"></i></a>
                    <a href="javascript:void(0)" class="p-1"><i class="fa fa-facebook"></i></a>
                    <a href="javascript:void(0)" class="p-1"><i class="fa fa-linkedin"></i></a>
                    <a href="javascript:void(0)" class="p-1"><i class="fa fa-instagram"></i></a>
                    <a href="javascript:void(0)" class="p-1"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Header End -->


<!-- Header Start -->
<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="javascript:void(0)" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav m-auto">
                    <!-- active -->
                    <a href="index.html" class="nav-item nav-link ">Home</a>
                    <a href="javascript:void(0)" class="nav-item nav-link" *ngFor="let category of categoires" (click)="appService.navigateTo({type:'category', queryParams:{category : category}})">{{category}}</a>
                    <!-- <a href="javascript:void(0)" class="nav-item nav-link">Sports</a>
                    <a href="javascript:void(0)" class="nav-item nav-link">Tech</a>
                    <a href="javascript:void(0)" class="nav-item nav-link">fahion</a> -->
                    <!-- <div class="nav-item dropdown">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0)" class="dropdown-item">Sub Item 1</a>
                            <a href="javascript:void(0)" class="dropdown-item">Sub Item 2</a>
                        </div>
                    </div> -->
                    <!-- <a href="single-page.html" class="nav-item nav-link">Single Page</a> -->
                    <a href="contact.html" class="nav-item nav-link">Contact Us</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Header End -->