<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 col-sm-12 col-md-8">
                <input type="text" placeholder="Search... Name | Email | Employee ID | Role | Contact Number | State | District | Mandal" class="w-100 form-control" [(ngModel)]="searchValue" (ngModelChange)="changeOfSearchValue()">
            </div>
            <div class="col-4 col-sm-12 col-md-4 text-right">
                {{searchValue ? 'Found' : 'Total'}} {{employeeTables.length}} Employees
                
            </div>
        </div>
        <div class="row employee_list">



            <div class="tile col-12 col-sm-6 col-md-4 p-0" *ngFor="let emp of employeeTables">
                <div class="tile-profile">
                    <div class="profile-icon">
                        <div class="icon icon-user-round"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z">
                                </path>
                            </svg></div>
                    </div>
                    <div class="tile-container text-ellipsis">
                        <div class="name text-danger">{{emp.name}}</div>
                        <div class="email text-ellipsis">{{emp.mail}}</div>
                        <div class="emp-id">Employee: <span class="value">{{emp.employeeId}} <b>({{emp.role}})</b></span></div>
                        <div class="contact-number">Contact Number: <span class="value">{{emp.mobile}}</span></div>
                        <div class="contact-number">Locality: <span class="value" [title]="emp.state+' - ' + emp.district +' - ' +  emp.mandal">{{emp.state}} - {{emp.district}} - {{emp.mandal}}</span></div>
                    </div>
                    <!-- <div class="info-buttons"></div> -->
                </div>
            </div>

        </div>
    </div>
</div>