.id-card {
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
/* Making mobile Mode */
@media screen and (min-width:360px) and (max-width:640px) {
   .id-card{
    max-width: 90%;
   }
}

.header img {
    max-width: 100%;
}

.info-table {
    width: 100%;
}

.photo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    padding-left: 15px;
}

h2 {
    margin: 0;
    font-size: 1.2em;
}

table {
    width: 100%;
    margin-top: 10px;
}

td {
    padding: 5px;
}

 .invalid-user-container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
 }

 .invalid-user-message {
     font-size: 18px;
     color: #ff0000;
     /* You can choose your desired color */
     text-align: center;
 }
         .backdrop {
             position: fixed;
             top: 0;
             left: 0;
             width: 100%;
             height: 100%;
             background-color: rgba(169, 169, 169, 0.7);
             /* Grey with transparency */
             z-index: 1000;
             /* Ensure the backdrop is behind the alert box */
         }
    
         .status-alert {
             position: fixed;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
             padding: 20px;
             border: 1px solid #ccc;
             border-radius: 5px;
             text-align: center;
             z-index: 1001;
             /* Ensure the alert box is above the backdrop */
         }
    
         .message {
             margin: 0;
             /* Remove default margin */
         }