<div class="id-card">
    <div *ngIf="visible && responseData?.status"  class="backdrop"></div>

    <div *ngIf="visible && responseData?.status" [style.backgroundColor]="getTextColor(responseData?.status)" class="status-alert">
        <p style="color: #fff; font-weight: bold;" class="message">{{ responseData?.status === 'expired' ? "Expired" : responseData?.status === 'inactive' ? "In Active" :
        responseData?.status === 'active' ? "Active" : '-' }}</p>
    </div>
    <!-- <div class="header">
        <img src="path/to/your/logo.png" alt="Company Logo">
    </div> -->
    <ng-container *ngIf="responseData && !notANCUser">

        <table class="m-0">
            <tr>
                <td class="photo" colspan="2" style="text-align: center;">
                    <img [src]="responseData?.employeeInfo?.profilePicture?.tempURL" alt="User Photo">
                    <h2 style="font-weight: bold;">{{ responseData?.employeeInfo?.name || '-' }}</h2>
                    <h6 style="font-weight: bold;" class="m-0">Press Type : <span style="color: green;">Digital
                            Media</span></h6>
                </td>

            </tr>
            <tr>
                <td>ID Number:</td>
                <td>{{ responseData?.employeeInfo?.employeeId || '-' }}</td>
            </tr>
            <tr>
                <td>Designation:</td>
                <td>{{ responseData?.employeeInfo?.role || '-' }}</td>
            </tr>
            <tr>
                <td>State:</td>
                <td>{{ responseData?.employeeInfo?.stateName || '-' }}</td>
            </tr>
            <tr>
                <td>District:</td>
                <td>{{ responseData?.employeeInfo?.districtName || '-' }}</td>
            </tr>
            <tr>
                <td>Constituency:</td>
                <td>{{ responseData?.employeeInfo?.constituency || '-' }}</td>
            </tr>
            <tr>
                <td>Mandal:</td>
                <td>{{ responseData?.employeeInfo?.mandal || '-' }}</td>
            </tr>
            <tr>
                <td>Service Start Date:</td>
                <td>{{ responseData?.startDate | date: 'MMM dd, yyyy' || '-' }}</td>
            </tr>
            <tr>
                <td>Service End Date:</td>
                <td>{{ responseData?.endDate | date: 'MMM dd, yyyy' || '-' }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td [style.color]="getTextColor(responseData?.status)" style="font-weight: bold;">
                    {{ responseData?.status === 'expired' ? "Expired" : responseData?.status === 'inactive' ? "In Active" :
                    responseData?.status === 'active' ? "Active" : '-' }}
                </td>
            </tr>

            <tr>
                <td colspan="2" style="font-size: 0.85rem; font-weight: bold;">
                    For More Details contact <a href="tel:+916360862452">+91 6360862452 (Technical Director)</a> or <a
                        href="tel:+916362923654">+91 6362923654
                        (Technical Team)</a>
                </td>
            </tr>

        </table>
    </ng-container>


    <div class="invalid-user-container" *ngIf="responseData && notANCUser">
        <p class="invalid-user-message">Not a valid user (Contact Administration at <a href="tel:+916360862452">+91
                6360862452 (Technical Director)</a> or <a href="tel:+916362923654">+91 6362923654 (Technical Team)</a>
            for confirmation..!)</p>
    </div>
</div>