.card {
    max-width: 400px;
    /* Adjust the width of the card as needed */
    margin: auto;
    /* Center horizontally */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description-with-watermark {
    position: relative;
    /* Ensure proper positioning */
}

.watermark-background {
    position: absolute;
    top:5rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999;
    border-radius: 10px;
    opacity: 0.1;
}

.description-with-watermark .card-text {
    position: relative;
    /* Ensure text stays on top of watermark */
    z-index: 1;
    /* Ensure text stays on top of watermark */
    padding: 15px;
    /* Adjust padding to separate text from background */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}