<div class=" h-100">
    <div class="description-with-watermark h-100">
        <div class="watermark-background"
            style="background-image: url('/assets/images/fullLogo.png');"></div>
            <div class=" text-center container-fluid d-flex align-items-center justify-content-center mt-5">
                <div class="card-body">
                    <h5 class="card-title">No Records Found</h5>
                    <p class="card-text">There are currently no records to display.</p>
                </div>
            </div>    </div>
  
</div>
