<!-- <public-header></public-header> -->

<div class="top-news-section flex-properties w-100">
    <div class="parent-level">
        <div class="top-news-img cursor-pointer" *ngIf="topSectionData[0]" (click)="onNewsClick(topSectionData[0])">
            <img *ngIf="topSectionData[0]['images'] && topSectionData[0]['images'][0] && topSectionData[0]['images'][0].id"
                [src]="'https://drive.google.com/uc?export=view&id='+topSectionData[0]['images'][0].id" alt="Image" />
            <div class="top-news-content">
                <div class="top-news-content-inner">
                    <a class="top-news-date" href="javascript:void(0)"><i
                            class="far fa-clock"></i>{{topSectionData[0].createdDate |
                        date}}</a>
                    <a class="top-news-title two-line-ellipsis"
                        href="javascript:void(0)">{{topSectionData[0].title}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="parent-level flex-properties">
        <ng-container *ngFor="let topNews of [1,2,3,4]">
            <div class="child-level" *ngIf="topSectionData[topNews]">

                <div class="top-news-img cursor-pointer" (click)="onNewsClick(topSectionData[topNews])">
                    <img *ngIf="topSectionData[topNews]['images'] && topSectionData[topNews]['images'][0] && topSectionData[topNews]['images'][0].id"
                        [src]="'https://drive.google.com/uc?export=view&id='+topSectionData[topNews]['images'][0].id"
                        alt="Image" />
                    <div class="top-news-content">
                        <div class="top-news-content-inner">
                            <a class="top-news-date" href="javascript:void(0)"><i
                                    class="far fa-clock"></i>{{topSectionData[topNews].createdDate |
                                date}}</a>
                            <a class="top-news-title two-line-ellipsis"
                                href="javascript:void(0)">{{topSectionData[topNews].title}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div class="category-news-section flex-properties px-2">
    <div class="parent-level flex-properties" *ngFor="let category of categoryWiseRecentRecords">
        <div class="w-100">
            <h2><i class="fa fa-align-justify"></i>{{category.category}}</h2>
        </div>
        <div class="child-level " *ngFor="let categoryNews of category.records">
            <div class="category-news-img cursor-pointer" (click)="onNewsClick(categoryNews)">
                <img *ngIf="categoryNews['images'] && categoryNews['images'][0] && categoryNews['images'][0].id"
                    [src]="'https://drive.google.com/uc?export=view&id='+categoryNews['images'][0].id" alt="Image" />
                <div class="category-news-content">
                    <div class="category-news-content-inner">
                        <a class="category-news-date" href="javascript:void(0)"><i
                                class="far fa-clock"></i>{{categoryNews.createdDate |
                            date}}</a>
                        <a class="category-news-title two-line-ellipsis"
                            href="javascript:void(0)">{{categoryNews.title}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Top News Start-->
<div class="top-news" *ngIf="false">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 tn-left">
                <div class="tn-img" *ngIf="topSectionData[0]">
                    <img *ngIf="topSectionData[0]['images'] && topSectionData[0]['images'][0] && topSectionData[0]['images'][0].id"
                        [src]="'https://drive.google.com/uc?export=view&id='+topSectionData[0]['images'][0].id"
                        alt="Image" />
                    <div class="tn-content">
                        <div class="tn-content-inner">
                            <a class="tn-date" href="javascript:void(0)"><i
                                    class="far fa-clock"></i>{{topSectionData[0].createdDate |
                                date}}</a>
                            <a class="tn-title two-line-ellipsis"
                                href="javascript:void(0)">{{topSectionData[0].title}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 tn-right">
                <div class="row h-100">
                    <ng-container *ngFor="let topNews of [1,2,3,4]">

                        <div class="col-md-6 right-news-section" *ngIf="topSectionData[topNews]">
                            <div class="tn-img">
                                <img *ngIf="topSectionData[topNews]['images'] && topSectionData[topNews]['images'][0] && topSectionData[topNews]['images'][0].id"
                                    [src]="'https://drive.google.com/uc?export=view&id='+topSectionData[topNews]['images'][0].id"
                                    alt="Image" />
                                <div class="tn-content">
                                    <div class="tn-content-inner">
                                        <a class="tn-date" href="javascript:void(0)"><i
                                                class="far fa-clock"></i>{{topSectionData[topNews].createdDate |
                                            date}}</a>
                                        <a class="tn-title two-line-ellipsis"
                                            href="javascript:void(0)">{{topSectionData[topNews].title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top News End-->


<!-- Category News Start-->
<div class="cat-news" *ngIf="false">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" *ngFor="let category of categoryWiseRecentRecords">
                <h2><i class="fa fa-align-justify"></i>{{category.category}}</h2>
                <div class="row cn-slider">
                    <div class="col-md-6 categoryNewsHolder" *ngFor="let categoryNews of category.articles">
                        <div class="cn-img">
                            <img *ngIf="categoryNews['images'] && categoryNews['images'][0] && categoryNews['images'][0].id"
                                [src]="'https://drive.google.com/uc?export=view&id='+categoryNews['images'][0].id"
                                alt="Image" />
                            <div class="cn-content">
                                <div class="cn-content-inner">
                                    <a class="cn-date" href="javascript:void(0)"><i
                                            class="far fa-clock"></i>{{categoryNews.createdDate |
                                        date}}</a>
                                    <a class="cn-title two-line-ellipsis"
                                        href="javascript:void(0)">{{categoryNews.title}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Category News End-->


<!-- Main News Start-->
<div class="main-news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2><i class="fa fa-align-justify"></i>More Latest News</h2>
                        <div class="row">
                            <div class="col-lg-6 cursor-pointer" *ngIf="moreRecentRecords[0]" (click)="onNewsClick(moreRecentRecords[0])">
                                <div class="mn-img">
                                    <img *ngIf="moreRecentRecords[0]['images'] && moreRecentRecords[0]['images'][0] && moreRecentRecords[0]['images'][0].id"
                                        [src]="'https://drive.google.com/uc?export=view&id='+moreRecentRecords[0]['images'][0].id"
                                        alt="Image" />
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title one-line-ellipsis"
                                        href="javascript:void(0)">{{moreRecentRecords[0].title}}</a>
                                    <a class="mn-date" href="javascript:void(0)"><i
                                            class="far fa-clock"></i>{{moreRecentRecords[0].createdDate |
                                        date}}</a>
                                    <p class="three-line-ellipsis">
                                        {{moreRecentRecords[0].description}}
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mn-list cursor-pointer"
                                    *ngFor="let moreRecentData of moreRecentRecords; let first = first" (click)="onNewsClick(moreRecentData)">
                                    <ng-container *ngIf="!first">

                                        <div class="mn-img">
                                            <img *ngIf="moreRecentData['images'] && moreRecentData['images'][0] && moreRecentData['images'][0].id"
                                                [src]="'https://drive.google.com/uc?export=view&id='+moreRecentData['images'][0].id"
                                                alt="Image" />
                                        </div>
                                        <div class="mn-content">
                                            <a class="mn-title one-line-ellipsis"
                                                href="javascript:void(0)">{{moreRecentData.title}}</a>
                                            <a class="mn-date" href="javascript:void(0)"><i
                                                    class="far fa-clock"></i>{{moreRecentData.createdDate | date}}</a>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="false">
                        <h2><i class="fa fa-align-justify"></i>Popular News</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mn-img">
                                    <img src="img/popular-news.jpg" />
                                </div>
                                <div class="mn-content">
                                    <a class="mn-title" href="javascript:void(0)">Phasellus gravida metus vitae laoreet
                                        aliquam</a>
                                    <a class="mn-date" href="javascript:void(0)"><i
                                            class="far fa-clock"></i>05-Feb-2020</a>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta
                                        dui. Class aptent taciti sociosqu ad litora torquent per conubia nostra
                                        inceptos...
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="javascript:void(0)">Nullam risus ante sempe</a>
                                        <a class="mn-date" href="javascript:void(0)"><i
                                                class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="javascript:void(0)">Pellentesque ultrices quam id
                                            ipsum tempor</a>
                                        <a class="mn-date" href="javascript:void(0)"><i
                                                class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="javascript:void(0)">Nam ex magna, commodo sed turpis
                                            rutrum</a>
                                        <a class="mn-date" href="javascript:void(0)"><i
                                                class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="javascript:void(0)">Aliquam condimentum metus</a>
                                        <a class="mn-date" href="javascript:void(0)"><i
                                                class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                                <div class="mn-list">
                                    <div class="mn-img">
                                        <img src="img/popular-news.jpg" />
                                    </div>
                                    <div class="mn-content">
                                        <a class="mn-title" href="javascript:void(0)">Ut ornare rutrum ligula erat
                                            volutpat</a>
                                        <a class="mn-date" href="javascript:void(0)"><i
                                                class="far fa-clock"></i>05-Feb-2020</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="sidebar px-2">
                    <div class="sidebar-widget">
                        <h2><i class="fa fa-align-justify"></i>Category</h2>
                        <div class="category" *ngIf="metaData['NEWS_CATEGORIES']">
                            <ul class="fa-ul">
                                <li *ngFor="let category of metaData['NEWS_CATEGORIES']"><span class="fa-li"><i
                                            class="far fa-arrow-alt-circle-right"></i></span><a
                                        href="javascript:void(0)">{{category}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main News End-->


<!-- Footer Start -->
<div class="footer" *ngIf="false">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Useful Links</h3>
                    <ul>
                        <li><a href="#">Pellentesque</a></li>
                        <li><a href="#">Aliquam</a></li>
                        <li><a href="#">Fusce placerat</a></li>
                        <li><a href="#">Nulla hendrerit</a></li>
                        <li><a href="#">Maecenas</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Quick Links</h3>
                    <ul>
                        <li><a href="#">Posuere egestas</a></li>
                        <li><a href="#">Sollicitudin</a></li>
                        <li><a href="#">Luctus non</a></li>
                        <li><a href="#">Duis tincidunt</a></li>
                        <li><a href="#">Elementum</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Get in Touch</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>123 Terry Lane, New York, USA</p>
                        <p><i class="fa fa-envelope"></i>email@example.com</p>
                        <p><i class="fa fa-phone"></i>+123-456-7890</p>
                        <div class="social">
                            <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">Newsletter</h3>
                    <div class="newsletter">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed porta dui. Class
                            aptent taciti sociosqu ad litora torquent per conubia nostra inceptos
                        </p>
                        <form>
                            <input class="form-control" type="email" placeholder="Your email here">
                            <button class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Footer Bottom Start -->
<div class="footer-bottom" *ngIf="false">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright &copy; <a href="https://htmlcodex.com">HTML Codex</a>. All Rights Reserved</p>
            </div>

            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->


<!-- Back to Top -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<script>
    (function ($) {
        "use strict";

        // Sticky Navbar
        $(window).scroll(function () {
            if ($(this).scrollTop() > 90) {
                $('.header').addClass('header-sticky');
            } else {
                $('.header').removeClass('header-sticky');
            }
        });


        // Dropdown on mouse hover
        $(document).ready(function () {
            function toggleNavbarMethod() {
                if ($(window).width() > 768) {
                    $('.navbar .dropdown').on('mouseover', function () {
                        $('.dropdown-toggle', this).trigger('click');
                    }).on('mouseout', function () {
                        $('.dropdown-toggle', this).trigger('click').blur();
                    });
                } else {
                    $('.navbar .dropdown').off('mouseover').off('mouseout');
                }
            }
            toggleNavbarMethod();
            $(window).resize(toggleNavbarMethod);
        });


        // Back to top button
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.back-to-top').fadeIn('slow');
            } else {
                $('.back-to-top').fadeOut('slow');
            }
        });
        $('.back-to-top').click(function () {
            $('html, body').animate({ scrollTop: 0 }, 1500, 'easeInOutExpo');
            return false;
        });


        // Category News Slider
        $('.cn-slider').slick({
            autoplay: false,
            infinite: true,
            dots: false,
            slidesToShow: 2,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
        });
    })(jQuery);


</script>

<!-- Template Javascript -->
<!-- <script src="js/main.js"></script> -->
<!-- </body> -->