.content {
    // background-color: #f8f9fa;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    overflow: hidden;
    // background-color: #000;
    /* Optional: Add background color to see container bounds */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the container while maintaining aspect ratio */
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background for readability */
    padding: 10px;
    box-sizing: border-box;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    /* White color for title text */
}

.date {
    font-size: 0.875rem;
    color: #6c757d;
}

.small-content {
    // background-color: #e9ecef;
    // padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media (max-width: 767.98px) {
    .small-content {
        margin-bottom: 20px;
        /* Increase margin for mobile devices */
    }
}

.custom-card {
    background-color: white;
}

.custom-img {
    margin-top: -10px;
    /* Adjust this value as needed to align the image a bit above */
    width: 64px;
    /* Set image width */
    height: 64px;
    /* Set image height */
    object-fit: cover;
}

.latestNews img {
    position: absolute;
    left: 0;
    top: -10px;
    width: 100px;
    height: 75px;
    z-index: 9999;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.latestNews .row {
    margin-left: 10px;
    margin-top: 10px;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.latestNews {
    .date {
        font-size: 0.75rem;
    }

    .title {

        font-size: 0.75rem;
        font-weight: 'bold';
        max-height: 3.6rem;
        overflow: hidden;
        color: #000;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* app.component.css or styles.css */
.box {
    // padding: 20px;
    // background-color: #f0f0f0;
    margin-bottom: 10px;
    text-align: center;
    height: 24rem !important;
    // -webkit-overflow-scrolling: touch;
    /* Enables momentum scrolling in iOS Safari */

}

.ellipsis-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Number of lines to show */
    overflow: hidden;
    text-overflow: ellipsis;
    /* Optional: Adjust other styles like font-size, line-height, etc. */
}


.box::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar for WebKit browsers */
}

/* Hide scrollbar for Firefox */
.box {
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

.title-latest-news {
    text-align: left;
    background: #00272C;
    color: #fff;
    margin: 0;
    font-weight: bold;
    padding: 1rem 0.5rem;
    border-bottom: 2px solid #fff;
}

.title-latest-news:hover {
    background: #364446;
}

.latestNineImage {
    // object-fit: fill;
    // width: 100%;
    height: 18rem;
}

.custome_card {
    margin: 5px;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    ;
}

.date_custome {
    font-size: 0.75rem;
}

.title-color {
    color: #00272c;
    font-size: 0.85rem;
}

.border-radiuse-10 {
    border-radius: 10px !important;
}

.news-type-image {
    height: 4rem;
}

.categoryImages {
    width: 100%;
    object-fit: fill;
    height: 8rem;
}

.categoryCard {
    .card-title {
        font-size: 1rem;
    }
}

.custome_newsCard_category {}

/* Custom CSS to handle the order on mobile */
@media (max-width: 767.98px) {
    .order-1 {
        order: 2;
    }

    .order-2 {
        order: 1;
    }

    .mobile-carousel {
        height: 15rem !important;
    }

    .mobile-scroll-latest-news {
        height: 25rem;
        overflow: auto;
    }

    .latestNineImage {
        height: 15rem !important;
    }
}