<div class="col-12 border-bottom-custome p-0 my-3">

    <p class="header_section">{{metaInformation?.district?.[userLanguage]
        +' ('+metaInformation?.state?.[userLanguage]+')'}}</p>
</div>
<div class="col-12 row m-0 p-0">
    <ng-container *ngIf="newsData?.length>0">

        <div class="col-md-4 col-sm-12 mb-4" *ngFor="let news of newsData">
            <div class="card m-0  cursor-pointer custome_newsCard">
                <img class="card-img-top" [src]="news?.images?.[0]?.['tempURL']" [alt]="news.title">
                <div class="card-body">
                    <h5 class="card-title">{{ news?.title }}</h5>
                    <p class="card-text m-0"><small class="text-muted">{{ news?.createdDate |
                            date:'yyyy-MM-dd'}}</small>
                    </p>
                    <p class="card-text description">{{ news?.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="container d-flex justify-content-center align-items-center"
                *ngIf="!paginationNewsData?.endOfRecords">
                <button type="button" class="btn btn-primary" (click)="getDistrictNews()">Load More..</button>
            </div>
        </div>
    </ng-container>

    <no-records-screen *ngIf="!initialLoad && (!newsData || newsData.length === 0)"
        style="width: 100%;"></no-records-screen>
</div>