.custome-sidebar{
    background-color: #F0F5F9 !important;
}
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .mat-drawer-inner-container{
    // width: 100% !important;
    width: fit-content !important;
}
  
// ONLY FOR NON MOBILE
@media (min-width: 767.98px) {

    .custome-side-nav-section{
       height: calc(100vh - 3rem) !important;
       margin: auto !important;
       border-radius: 0.5rem;
    //    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;       max-width: 17.5rem;
    }

}


// ONLY FOR MOBILE
@media (max-width: 767.98px) {

    .custome-side-nav-section{
     
    
       max-width: 70%;
    }
    .close-icon-mobile{
        position: absolute;
        right: 15px;
        top:15px;
        color: black;
    }

}

.custome-menu-label{
  font-size: 0.95rem;
}
.activeTab{
  background-color: #E5F3FB;
  border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #0085DB !important;
    margin-right: 1rem !important;

}


// .custome-menu-item {
//   transition: background-color 0.3s ease, color 0.3s ease, margin-right 0.3s ease, border-radius 0.3s ease;

//   &:hover {
//     background-color: #ccc;
//     border-top-right-radius: 30px;
//     border-bottom-right-radius: 30px;
//     color: #000 !important;
//     margin-right: 1rem !important;
//   }
// }
.custome-menu-item {
  position: relative;
  overflow: hidden;
  color: #000 !important;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ededed;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.75s ease;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  &:hover:before {
    transform: scaleX(1);
  }

  &:hover {
    color: #000 !important;
    margin-right: 1rem !important;
  }
}
