/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif !important;
    line-height: 1.3rem !important;
}
.districtDiv {
    right: unset;
    left: 0;
    z-index: 99999;

    .title {
        font-weight: bold;
        color: #000;
    }
}

nc-web-public-header{

    .nav-link{
        font-weight: 600 !important;
    }
}


.custome-scroll-bar-header::-webkit-scrollbar {
    display: none;
}


.public-screen-content-height{
    height: calc(100vh - 7rem);
}
/* Hide scrollbar for Internet Explorer, Edge and Firefox */
.custome-scroll-bar-header {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

.cursor-pointer{
    cursor: pointer !important;
}

.h-75 {
    height: 75% !important;
}
// HOME PAGE STYLES STARTS
.border-bottom-custome {
    border-bottom: 1.5px solid #ccc;
}
.border-left-custome {
    border-left: 1.5px solid #ccc;
}
.media {
    display: flex;
    align-items: flex-start;
}



.header_section {
    font-weight: bold;
    margin: 0;
    padding: 10px 15px;
    background-color: #00272c;
    width: fit-content;
    color: #fff;
}


.custome_newsCard {
    cursor: pointer;

    .card-title {
        font-weight: bold;
        color: #000;
    }
}

.custome_newsCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.custome_newsCard_category {
    .card-title {
        font-weight: bold;
        color: #000;
    }
}

// HOME PAGE STYLES ENDS
@media (min-width: 576px) {
    .districtDiv {
        min-width: 540px !important;
    }
}

@media (min-width: 768px) {
    .districtDiv {
        min-width: 720px !important;
    }
}

@media (min-width: 992px) {
    .districtDiv {
        min-width: 960px !important;
    }
}

@media (min-width: 1200px) {
    .districtDiv {
        min-width: 1000px !important;
    }
}


.loader_container {
    background-color: #00000069;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.loader {
    width: 150px;
    height: 150px;
    border-left: 5px solid #38ff8e;
    border-radius: 50%;
    animation: right5231 0.9s linear infinite;
}

.loader::before,
.loader::after {
    content: "";
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    border-right: 5px solid #ffbe0b;
    border-radius: 50%;
    animation: left036 0.9s linear infinite;
}

.loader::after {
    width: 90px;
    height: 90px;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    border: 0;
    border-top: 5px solid #ff086e;
    animation: none;
}

@keyframes right5231 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes left036 {
    from {
        transform: rotate(720deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.width-fit-content{
    width: fit-content !important;
  }


  .custom-side-nav-bar{

      .mat-drawer-inner-container{
        // width: 100% !important;
        width: fit-content !important;
    }
  }

  @media (max-width: 767.98px) {

    .border-left-custome {
        border-left: 0;
    }
    .carousel-caption {
        h3 {
            font-size: 1rem !important;
        }
    }

    .carousel-caption-top {
        h3 {
            font-size: 0.75rem !important;
        }
    }
    .small-content {
        margin-bottom: 20px;
        /* Increase margin for mobile devices */
    }
    .news-listing-container{
        padding: 0px 10px !important;
    }
    .custom-side-nav-bar{

        .mat-drawer-inner-container{
          // width: 100% !important;
          width: 100% !important;
      }
    }
}
.w-80{
    width: 80% !important;
}