<div class="user-info-container">
  <app-page-header [title]="languageService.getString('userInfo') || 'User Profile'" eyebrow="ACCOUNT"
    eyebrowIcon="fas fa-user-circle"></app-page-header>

  <div class="user-info-card" *ngIf="userData ">
    <div class="user-avatar">
      <ng-container *ngIf="userData?.profilePicture?.tempURL; else defaultIcon">
        <img [src]="userData.profilePicture?.tempURL" alt="Profile Image" class="profile-image">
      </ng-container>
      <ng-template #defaultIcon>
        <i class="fas fa-user-circle"></i>
      </ng-template>
    </div>

    <div class="user-details">
      <div class="info-row">
        <label>Name</label>
        <p>{{ userData?.name }}</p>
      </div>

      <div class="info-row">
        <label>Email</label>
        <p>{{ userData?.email }}</p>
      </div>

      <div class="info-row">
        <label>Role</label>
        <p>{{ userData?.role }}</p>
      </div>
    </div>
  </div>

</div>